// Pre-state grayscale colors used in other variables

$gray-800: #343a40;

// Override Bootstrap color system

$orange: #bd5d38;
$blue: #1976d2;
$blue2: #01579b;

// Override Bootstrap default state colors

$primary: $blue2;

// Override Bootstrap yiq lightness value

$yiq-contrasted-threshold: 205;
